<div class="row mt-5">
  <form action="/record/{{record.id}}?_method=PUT" method="POST" class="m-auto col-6">
    <div class="row">
      <span class="text-danger col-2 text-right">*必填欄位</span>
      <h1 class="d-inline-block col-8 text-center">請修改你的支出</h1>
    </div>
    <!-- name -->
    <div class="form-group row">
      <label for="name" class="col-2 text-right">名稱<span class="text-danger">*</span>:</label>
      <div class="col-8">
        <input type="text" class="form-control" name="name" id="name" value="{{ record.name }}" required>
      </div>
    </div>
    <!-- date -->
    <div class="form-group row">
      <label for="date" class="col-2 text-right">日期<span class="text-danger">*</span>:</label>
      <div class="col-8">
        <input type="date" class="form-control" name="date" id="date" value="{{pickedDate record.date }}" required>
      </div>
    </div>
    <!-- category -->
    <div class="form-group row">
      <label for="category" class="col-2 text-right">類別<span class="text-danger">*</span>:</label>
      <div class="col-8">
        <select name="category" class="form-control" id="category" required>
          <option value="" selected>類別</option>
          <option value="living" {{pickedOption record.category 'living' }}>家居物業</option>
          <option value="traffic" {{pickedOption record.category 'traffic' }}>交通出行</option>
          <option value="recreation" {{pickedOption record.category 'recreation' }}>休閒娛樂</option>
          <option value="food" {{pickedOption record.category 'food' }}>餐飲食品</option>
          <option value="other" {{pickedOption record.category 'other' }}>其他</option>
        </select>
      </div>
    </div>
    <!-- amount -->
    <div class="form-group row">
      <label for="amount" class="col-2 text-right">金額<span class="text-danger">*</span>:</label>
      <div class="col-8">
        <input type="number" class="form-control" name="amount" id="amount" value="{{ record.amount }}" required>
      </div>
    </div>
    <!-- button -->
    <div class="form-group text-center">
      <button class="btn btn-primary">確認修改</button>
    </div>
  </form>
</div>